input {
  margin: 10px;
  line-height: 50px;
  padding: 5px;
  border: none;
  color: black;
  font-size: 150%;
  border-bottom: 1px solid grey;
}

input[type="text"] {
  width: 25%;
  background-color: white;
}

inpt[type="submit"] {
  background-color: #f16051;
  color: #fff;
  border: 2px solid grey;
  border-radius: 10%;
  padding: 10px;
  width: 40%;
}
